alembic==1.13.1
amqp==5.2.0
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
billiard==4.2.0
Brotli==1.1.0
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
idna==3.6
kombu==5.3.5
Mako==1.3.2
MarkupSafe==2.1.5
minio==7.2.5
mutagen==1.47.0
prompt-toolkit==3.0.43
psycopg2==2.9.9
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.20.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-telegram-bot==21.0.1
redis==5.0.3
requests==2.31.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.28
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
websockets==12.0
yt-dlp==2024.3.10
